<div class="container">
    <h2>Admin Dashboard</h2>
    <div class="table" *ngIf="PromoList.length!=0" >
        <table class="table table-hover">
            <tr>
                
                <th>PromoCode</th>
                <th>start date</th>
                <th>end date</th>
                <th>discount</th>
                <th></th>
            </tr>
            <tr *ngFor="let promo of PromoList,index as i">
                
                <td>{{promo.promoCode}}</td>
                <td>{{promo.startDate}}</td>
                <td>{{promo.endDate}}</td>
                <td>{{promo.price}}%</td>
                <td><button (click)="ViewPromo(i)" class="btn btn-primary">View</button></td>
            </tr>
        </table>
    </div>
    <h6 *ngIf="PromoList.length==0" >None Promo code Created</h6>
    <div>
        <button style="margin:10px" class="btn btn-primary" (click)="CreatePromo()">Create new Promo code</button>
    </div>
</div>